.upload-div {
    // width: 50%;
    height: auto;
    margin: 150PX auto;
}

.card-header-title {
    font-size: 1.25rem;
    text-align: center;
    
}

.upload-file-div {
    width: 50%;
    margin: auto;
}

.upload-file-div > button {
    width: 100%;

}


// .progress {
//     display: none;
// }

// .showProgress {
//     display: flex !important;
// }
// form {
//     width: 50%;
//     height: auto;
//     margin: 500px auto;
// }