<div class="upload-div">

    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="file" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-primary"
                (click)="openSnackBar('testing','Success')">
                open snack bar
            </button>
        </div>
    </form>
</div>