.upload-div {
    width: 50%;
    height: auto;
    margin: 150PX auto;
}

.card-header-title {
    font-size: 1.25rem;
    text-align: center;
    
}

.upload-file-div {
    width: 50%;
    margin: auto;
}

.upload-file-div > button {
    width: 100%;

}

.customWidth-0 {
    width:0;
}

.customWidth-5 {
    width:5%;
}

.customWidth-10 {
    width:10%;
}

.customWidth-15 {
    width:15%;
}

.customWidth-20 {
    width:20%;
}

.customWidth-25 {
    width:25%;
}

.customWidth-30 {
    width:30%;
}

.customWidth-35 {
    width:35%;
}

.customWidth-40 {
    width:40%;
}

.customWidth-45 {
    width:45%;
}

.customWidth-50 {
    width:50%;
}

.customWidth-55 {
    width:55%;
}

.customWidth-60 {
    width:60%;
}

.customWidth-65 {
    width:65%;
}

.customWidth-70 {
    width:70%;
}

.customWidth-75 {
    width:75%
}

.customWidth-80 {
    width:80%;
}

.customWidth-85 {
    width:85%;
}

.customWidth-90 {
    width:90%;
}
.customWidth-95 {
    width:95%;
}

.customWidth-100 {
    width:100%;

}
.progress {
    display: none;
}

.showProgress {
    display: flex !important;
}
// form {
//     width: 50%;
//     height: auto;
//     margin: 500px auto;
// }