<div class="card">
    <div class="card-header">
        <h1>
            Budget
        </h1>
    </div>

    <div class="card-body">
        <h2 class="card-title">
            <span>
                Total Gross
            </span>
            <span>
                ${{totalGross }}
            </span>
        </h2>
        <h2 class="card-subtitle mb-2 text-muted">
            Breakdown of total Gross</h2>
        <div>
            <div class="income-div">
                <h4 class="badge bg-success">
                    +{{totalIncome}} total income
                </h4>
            </div>
            <div class="expenses-div">
                <h4 class="badge bg-danger">
                    {{totalExpenses}} total
                    expenses</h4>
            </div>
        </div>
    </div>
</div>