<form>
    <div class="input-group mb-3">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="NAME">
            <label for="floatingNameInput">Name of expense or income</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingDescriptionInput"
                placeholder="Description">
            <label for="floatingDescriptionInput">Description</label>
        </div>
        <div class="form-floating">
            <input type="number" class="form-control" id="floatingAmountInput" placeholder="Amount"
                min="1">
            <label for="floatingAmountInput">Amount</label>
        </div>
    </div>
    <div class="submit-btns-div">
        <button id="income-btn" type="submit" class="btn btn-success">Add Income</button>
        <button id="expense-btn" type="submit" class="btn btn-danger">Add Expense</button>
    </div>
</form>