<form>
    <div class="input-group">
        <div class="form-floating">
            <input (change)="onChange()" type="text" class="form-control" id="floatingInput"
                [formControl]="name" placeholder="NAME" required>
            <label for="floatingNameInput">Name of expense or income</label>
            <div id="validator-message-div" *ngIf="name.invalid && name.touched">
                <small class="text-danger">Name have to be more than 5 characters long!</small>
            </div>
        </div>


        <div class="form-floating">
            <input (change)="onChange()" type="text" class="form-control"
                id="floatingDescriptionInput" placeholder="Description" [formControl]="description"
                required>
            <label for="floatingDescriptionInput">Description</label>
            <div id="validator-message-div" *ngIf="description.invalid && description.touched">
                <small class="text-danger">Description have to be more than 5 characters
                    long!</small>
            </div>
        </div>



        <div class="form-floating">
            <input (change)="onChange()" type="number" class="form-control" id="floatingAmountInput"
                placeholder="Amount" [formControl]="amount" required min="1">
            <label for="floatingAmountInput">Amount</label>
            <div id="validator-message-div" *ngIf="amount.invalid && amount.touched">
                <small class="text-danger">Amount have to be more than or equal to 1!</small>
            </div>
        </div>

    </div>
    <div class="submit-btns-div">
        <button id="income-btn" type="submit" class="btn btn-success"
            [disabled]="isFormControlEmpty" (click)="addIncome()">Add
            Income</button>
        <button id="expense-btn" type="submit" class="btn btn-danger"
            [disabled]="isFormControlEmpty" (click)="addExpense()">Add Expense</button>
    </div>
</form>