form {
    margin: 1.25rem auto;
    box-shadow: 2px 4px 13px rgb(179 178 178);
    padding: 1.25rem 0 0 0;
}

// #inputGroupDiv {
//     margin-bottom: 15px;
// }

.submit-btns-div {
    width:100%;
    margin:100px auto auto auto ;
    text-align: center;
    padding-bottom: 10px;
}

button {
    margin: auto .5rem;
}