<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NAME</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">AMOUNT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>RENT</td>
            <td>PREVENT LIVING ON THE STREET</td>
            <td>1200</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>NETFLEX</td>
            <td>TV ENTERTAINMENT. PREVENTS BOREDOM</td>
            <td>20</td>
        </tr>
    </tbody>
</table>