<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NAME</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">AMOUNT</th>
            <th scope="col">TYPE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>RENT</td>
            <td>PREVENT LIVING ON THE STREET</td>
            <td>1200</td>
            <td>
                <span class="btn btn-danger">
                    Expense
                </span>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>NETFLIX</td>
            <td>TV ENTERTAINMENT. PREVENTS BOREDOM</td>
            <td>20</td>
            <td>
                <span class="btn btn-danger">
                    Expense
                </span>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>UBER DRIVER</td>
            <td>UBER DRIVER PARTNER, JOB</td>
            <td>600</td>
            <td>
                <span class="btn btn-success">
                    INCOME
                </span>
            </td>
        </tr>
    </tbody>
</table>